h1, h2, h3, h4, h5, h6, p {
  margin:0 0 1em;
}
p, ul, ol {
  font-size:1em;
}
ul {
  margin:0 0 1em 25px;
  list-style:none;
}
h1 {font-size:1.6em;}

h2 {font-size:1.5em;}

h3 {font-size:1.4em;}

h4 {font-size:1.3em;}

h5 {font-size:1.2em;}

h6 {font-size:1.1em;}

.text-gray { 
  color: $text-gray-1; 
  font-size: 16px; 
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-align: center
}
.color-alert { color: $color-alert; }
.color-danger { color: $feedback_danger; }
.text-align-center { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}
