
$background_white: #FFF;
$color_black: #000;
$text_color_white: #FFF;
$text_color: #333333;
$text_light_gray: #999;
$feedback_danger: #D23A55;
$color-alert:  #F39200;
$background_active_menu: #495057;
$border_input: 1px solid #DDDDDD;
$text-gray-1: #666666;